@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-100 {
  background-color: #F6F6F6;
}
.table-heading{
  color: #5F5F61;
}
.table-cell-bg{
  background-color: #FCFCFC;
}
.card-heading{
  color:#313336
}
.font-74 {
  font-weight: 490;
}
.date-text{
  color: #737475;
}