@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-gray-100 {
  background-color: #F6F6F6;
}
.table-heading{
  color: #5F5F61;
}
.table-cell-bg{
  background-color: #FCFCFC;
}
.card-heading{
  color:#313336
}
.font-74 {
  font-weight: 490;
}
.date-text{
  color: #737475;
}
.dark {
  background-color: #1a1a1a;
  color: #ffffff;
}

.dark .bg-gray-100 {
  background-color: #2a2a2a;
}

.dark .text-gray-500 {
  color: #a0aec0;
}

.dark .text-black {
  color: #ffffff;
}

.dark .bg-blue-500 {
  background-color: #3182ce;
}

.dark .hover\:bg-blue-600:hover {
  background-color: #2c5282;
}

.dark .bg-gray-800 {
  background-color: #2d3748;
}

.dark .bg-gray-700 {
  background-color: #4a5568;
}

.dark .border-gray-700 {
  border-color: #4a5568;
}

.dark .text-gray-200 {
  color: #edf2f7;
}

.dark .text-gray-300 {
  color: #e2e8f0;
}

.dark .text-gray-400 {
  color: #cbd5e0;
}